<html>
<head>
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

	<title>Change Query</title>
</head>

<body>
	<div class="topnav"><ul>
        <li><a href="changePass">ACCOUNT</a></li>
        <li><a href="task">TASK</a></li>
      
      <div class="dropdown">
        <button class="dropbtn">TEMPLATE
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addTemplate">NEW TEMPLATE</a>
          <a href="formatTemplate">EDIT TEMPLATE</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">QUERY
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="insertQuery">NEW QUERY</a>
          <a class="active" href="editQuery">EDIT QUERY</a>
        </div>
      </div>

        <li><a href="preview">PREVIEW</a></li>

      <div class="dropdown">
        <button class="dropbtn">SCHEDULING
          <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
          <a href="addNewSchedule">NEW SCHEDULE</a>
          <a href="editSchedule">EDIT SCHEDULE</a>
          <a href="">RUN SCHEDULE</a>
        </div>
      </div>

        <li><a href="">LIST REPORT</a></li>
        <li><a href="login">LOGOUT</a></li> 
    </ul></div>

<br>
	<div class ="judul">
	  <center>Change Query Report</center>
	</div>

<br><br>
<center>

	<form action="/editQuery" method = "POST">
<div class="row">

		<label for="kodLap"> Template:  </label>
		<select id= "report" name= "kodLap">
			{% for report in listKodeReportQuery %}
				<option name = "kodLap" value="{{report.reportId}}">{{report.reportId}}</option>
			{% endfor %}

		</select>

</div>
</center>

<br>
<br><br>

<center>
	
		<button> Go </button> 
	</form>

	<form action="/menu">
		<button> Cancel </button>
	</form>
	
	
</center>
</body>
</html>